/* Sits inside the design system's .bcds-footer--copyright paragraph. */
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--layout-margin-small);
  width: 100%;
}
